
@font-face {
    font-family: 'Chronicle Display';
    src:  url('Chronicle-Display-Semibold.woff') format('woff');
    font-weight: normal;
}
:root {
    --box-shadow: 0 2px 8px 4px #00000026;
    --off-black: #212121;
    --red: #C82F31;
    --chronicle-font : 'Chronicle Display',cursive;
    --franklin: 'Libre Franklin', sans-serif;
}

/* Utility Classes */

.btn {
    background-color: var(--off-black);
    color: #fff;
    transition: background-color 0.4s ease;
}

.btn:hover {
    background-color: var(--red);
    color: #fff;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.inner-container {
    margin: auto;
    max-width: 22.5rem;
    padding: 3rem 1rem;
}
header .inner-container {
    padding: unset;
}

h1 a,
h2,
h3,
h4 {
    font-family:var(--chronicle-font);
    font-weight: normal;
}
h2 {
    font-size: 2.25rem;

}
h3{
    font-size: 2rem;
}
h4{
    font-size: 1.5rem;
}
p{
    line-height: 1.5;
    margin-bottom: 1rem;
}
.btn{
    font-family: var(--chronicle-font);
    display: inline-block;
    font-weight: 300;
    font-size: 1.5rem;
    background-color:  #fff ;
    color: var(--off-black);
    padding: 1rem;
    border-radius: 0.4rem;
    margin: 1rem 0;
}

/* Header & Navigation */
header {
    background-color: #fff;
    padding: 1rem;
    border-bottom: 1px solid #212121;
    position: sticky;
    top: 0;
    z-index: 10;
}

svg,
header img {
    max-width: 1.5rem;
}
svg path {
    fill: var(--off-black);
}
.first-link {
    font-size: 1rem;
    display: flex;
    align-items: center;
    margin-left: 1rem;
    
}
.second-tier{
    margin-left: 2rem;
}
.first-link img {
    width: 1.5rem;
    margin-left: 1rem;
}

.first-link img{
    display: none;
}
nav {
    width: 100%;
    max-height: 0;
    overflow: hidden;
    position: absolute;
    left: 0;
    background-color: #fff;
}
.show-nav {
    max-height: unset;
    overflow: visible;
}
.main-menu{
    border-bottom: 1px solid var(--off-black);
    border-top: 1px solid var(--off-black);
    margin-top: 1rem;
    padding: 1rem 0 2rem 0;
}
nav li {
    margin: 0.5rem 0;
}

nav li a {
    display: block;
}

nav li a:hover {
    color: var(--red);
    text-decoration: underline;
}


.buton {
    border-top: 1px solid #fff;
    padding: 1rem;
    text-transform: lowercase;
    
}
.buton a{
    font-size: 0.75rem;
}

.buton, 
.buton li {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    white-space: nowrap;
}

.buton li {
    margin-right: 1rem;
    margin-left: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.buton li a:hover,
.buton li a:hover svg path
{
    color: var(--red);
    text-decoration: none;
}


/* Typography */

a {
    text-decoration: none;
    color: var(--off-black);
}

a:hover:not([class]) {
    text-decoration: underline;
}

/* Universal Styles */

body {
    line-height: 1.5;
    font-family: 'Libre Franklin', sans-serif;;
    font-weight: 400;
    color: var(--off-black);
}
.banner{
    background-image: url('../img/leddies.webp') ; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 8rem 0 8rem 0;

}
.banner .inner-container{
    background-color: rgba(33, 33, 33, 0.9);
}
section {
    color: #fff;
  
}
section h2 {
    width: 100%;
    margin-bottom: 1rem;
}
section .flex-container{
    flex-wrap: wrap;
}
/* ------Layerrr------ */
.flex {
	display: flex;
	flex-flow: wrap column;
}
img { max-width: 100%; }
.layered-swatches {
    position: relative;
    margin-bottom: 32rem;
}
.swatch{
    width: 13.25rem;
    position: absolute;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    transition: all 0.5s ease;
    border:  1px solid var(--off-black);
    box-shadow: var(--box-shadow);
    border-radius:  0.25rem ;
}
.swatch:nth-child(2) {
    left: 20%;
}

.swatch:nth-child(3) {
    left: 40%;
}

.swatch:hover {
    transform: scale(1.1);
    z-index: 1;
}

.layered-swatches .label {
    background: #fff;
	padding: 1rem;
    padding-bottom: 0;
	
}
.layered-swatches .label p{
    margin: 0;
    text-transform: uppercase;
}
.layered-swatches .label h3{
    margin: 0;
}
.content .btn{
    background-color: #111111;
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem 3rem 1rem 3rem;
}
.content .btn:hover{
    background-color: var(--red) ;
}
/* -------------BLOCK QUOTE------------------ */
.block{
    display: flex;
    flex-flow: wrap column;
    background-color: #111111;
    color: #fff;
    padding: 0;
    padding-bottom: 3rem;
}
.block .btn{
    font-size: 1.5rem;
    padding: 1rem 3rem 1rem 3rem;
}
.block div{
    padding: 1rem;
}
.block h3{
   padding-top: 4rem; 
   padding-bottom: 1rem;
}
/* -------------Card------------------ */
.content h3{
    text-align: center;
    margin-bottom: 1rem;
}
.card-body{
    padding: 0.25rem;
}
.card {
    background-color: #fff;
    border-radius: 0.313rem; 
    border:  1px solid #CACACA;
    margin-bottom: 3rem; 
    width: 100%;
    position: relative;
    text-align: center;
 }
 .card .label{
    background-color: var(--off-black);
    color: #fff;
    border-radius: 0.313rem; 
    padding: 1rem 0 1rem 0;
 }
 .card .btn{
    background-color: #111111;
    color: #fff;
    padding: 1rem 3rem 1rem 3rem;
 }
 .card .badge{
    background-color: red;
    border-radius: 1rem; 
    font-family: var(--franklin);
    font-size: 1rem;
    font-weight: 600;
    padding: 0.25rem;
    padding-right: 1rem;
    padding-left: 1rem;
    position: absolute;
    right: -2.5%;
    top: -2.5%;
 }
 .card h3{
    padding-top: 2rem;
 }
 .note{
    border-top: 1px solid #CACACA;
    text-align: left;
    padding: 1rem;
 }
 /* -------------Footer------------------ */
footer{
    background-color:#111111;
    color: #fff;
    text-align: center;
    padding-top: 2rem;
}
footer .footer-label{
 border-bottom: 1px solid #fff;
 padding-bottom: 1rem;
 margin-bottom: 2rem;
}
footer .footer-label p {
    font-weight: 300;
     font-style: italic;
}
footer .contact {
    text-align: left;  
    font-size: 1rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
footer .contact li:first-child{
   text-transform: uppercase;
    font-weight: 600;
}
footer .contact li{
    margin-bottom: 0.5rem;
}
footer .contact ul:not(:nth-of-type(1)){
    margin-bottom: 3rem;
}

@media screen and (min-width: 51rem) {
    .wide-flex {
        display: flex;
        align-items: flex-start;
    }
   .inner-container {
        max-width: 60rem;
    }
    
    header div.inner-container > .flex-container {
        flex: 1 0 auto;
    }
    nav {
        width: 100%;
        max-height: 0;
        overflow: hidden;
        position: absolute;
        left: 55%;
        bottom: -400%;
        background-color: #fff;
    }
    .layered-swatches {
        margin-bottom: 40.875rem;
        max-width: 800px;
    }
    .swatch:nth-child(2) {
        top: 5rem;
    }

    .swatch:nth-child(3) {
        top: 10rem;
    }
    .swatch:nth-child(2) {
        left: 30%;
    }
    
    .swatch:nth-child(3) {
        left: 60%;
    }
    
    .layered-swatches {
        position: relative;
        padding: 1.5rem;
    }
    .swatch{
        width: 16.875rem;
        position: absolute;
    }

    .block{
        flex-direction: row-reverse;
        display: flex;
        flex-wrap: nowrap;
        padding: 0;
    }
    .block img {
        width:18.688rem;
    }
    .block div{
        padding:4rem 2rem 4rem 2rem;
    }
    .block h3{
        padding: 0;
        margin-bottom: 1rem;
    }
    .card-section{
        padding: 5rem 10rem 5rem 10rem;
    }
    .content{
        margin-bottom: 5rem ;
    }

 
}
@media screen and (min-width:90rem ){
    .wide-flex {
        display: flex;
        align-items: flex-start;
    }

    .inner-container {
        max-width: 90rem;
    }
    header div.inner-container > .flex-container {
        flex: 1 0 auto;
    }
    .banner .inner-container{
        background-color:unset;
        padding:  12rem 58rem 12rem 5rem;
    }
    .banner .btn{
        background-color: #111111;
        color: #fff;
    }
    .banner .btn:hover{
        background-color:var(--red);
        color: #fff;
    }
    .toggle-btn {
        display: none;
    }
    .main-menu{
        border: none;
    }
    
    .first-link img {
        display: unset;
    }

    nav {
        justify-content: space-around;
        position: static;
        overflow: visible;
        white-space: nowrap;
    }

    nav ul li {
        list-style-type: none;
        
    }

    .buton {
        border-top: none;
        margin: 0;
        padding-top: 0;
    }

    .buton li {
        margin: 0 0.75rem;
    }

    .buton li:last-of-type {
        margin-right: 3rem;
    }

    .main-menu {
        display: flex;
        justify-content: flex-end;
        margin: 0;
    }
    .wide-flex{
        justify-content: space-around;
    }
    .main-menu li {
        position: relative;
    }

    .main-menu > li {
        margin: 1rem;
    }

    .second-tier{
        min-width: 100%;
        padding: 1rem;
        position: relative;
        margin: 0;
        visibility: hidden;
        background-color: #fff;
    }

    .main-menu li:hover > .second-tier {
        visibility: visible;
    }

    .second-tier {
        text-align: left;
    }
    .swatch:nth-child(2) {
        top: 10rem;
    }

    .swatch:nth-child(3) {
        top: 20rem;
    }
    .swatch:nth-child(2) {
        left: 15%;
    }
    
    .swatch:nth-child(3) {
        left: 30%;
    }
    .flex {
        flex-flow: nowrap;
        gap: 8rem;
        align-items: center;
        margin-bottom:10rem;
    }
    .col {
        width: calc(100% / 2);
    }

    .layered-swatches {
        margin-bottom: 38rem;
        max-width: 50%;
    }
    .swatch:nth-child(2) {
        left: 30%;
    }

    .swatch:nth-child(3) {
       left: 60%;
    }
    .content{
        padding: 10rem;
    }
    .content h3 {
        text-align: left;
    }
    .block div{
        width: 36.563rem;
    }
    .block img{
        width: 45rem;
    }
    .card-flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    .card-flex h2 { 
        width: 100%;
    }
    .card {
        width: calc(100% / 3 - 2%);
        margin-bottom: 0;
        height: 46.875rem;
    }
    .card:nth-child(2) {
       height: 50rem;
    }
   
    .card .btn {
        position: absolute;
        width: 70%;
        left: 15%;
        right: 0;
        bottom: 0;
    }
    .card .btn:hover{
        background-color: var(--red);
    }
    .content{
        padding: 0 15rem 0 15rem;
       
    }
    .content h3{
        text-align: center;
    }
    .footer-label{
        padding: 0 30rem 0 30rem;
    }
    .footer-label h3 {
        margin-bottom: 1rem;
    }
    footer .contact{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-around;
    }
}